<!DOCTYPE html>
<html lang="en">
  <head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PF5CPF5N2Z"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PF5CPF5N2Z');
</script>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="icon" href="img/plastic-bottle.svg" />
    <link rel="stylesheet" href="<%= url %>/css/profile.css" />
    <link rel="stylesheet" href="<%= url %>/css/default.css" />
    <link rel="stylesheet" href="<%= url %>/css/nav.css" />
    <title>Profile</title>
  </head>
  <body>
    <base href="/">
    <header>
      <div class="logo">
        <img class="white-svg" src="img/plastic-bottle.svg" alt="" />
        <h4>WaterMatters</h4>
      </div>

      <ul>
        <li><a href="/main">MAIN</a></li>
        <li><a href="/">CALCULATOR</a></li>
        <li><a><s>PROFILE</s></a></li>
        <li><a href="/friends">FRIENDS</a></li>
        <li><a href="/contact">CONTACT</a></li>
      </ul>

      <div class="menu-btn">
        <div class="menu-btn__burger"></div>
      </div>
      <nav class="nav-bar">
        <ul class="container">
          <li><a href="/main">MAIN</a></li>
          <li><a href="/">CALCULATOR</a></li>
          <li><a><s>PROFILE</s></a></li>
          <li><a href="/friends">FRIENDS</a></li>
          <li><a href="/contact">CONTACT</a></li>
        </ul>

        <div class="splash"></div>
      </nav>
    </header>
    <div class="btn-bar">
      <!-- <a href="/"><img class="icon-bar" id="back-arrow" src="img/back-arrow.svg" alt=""></a> -->
    </div>
    <div class="background"> 
      <div class="card rotate-card">
        <div class="front">
          <h3 class="username"><%= user.username.toUpperCase() %> </h3>
        <div class="date">Since <span><%= `${user.createdAt.getMonth() + 1}-${user.createdAt.getDate()}-${user.createdAt.getFullYear()}` %> </span></div>
        <h3 class="waterPrint"><%= user.waterPrint %> L</h3>
        <span class="logo">
          <img src="img/plastic-bottle-white.png" alt="logo" />
          <h4>WaterMatters</h4>
        </span>
        </div>
        <div class="back">  
          
        <!-- <img src="/img/qr-code.png" alt="" class="qr-code"> -->
        <img src="https://api.qrserver.com/v1/create-qr-code/?data=<%= url %>/profile/<%= user._id %>&size=170x170&bgcolor=242424&color=fff" alt="" class="qr-code">
        <span class="logo">
          <img src="img/plastic-bottle-white.png" alt="logo" />
          <h4>WaterMatters</h4>
        </span>
        </div>
      </div>

      
      <div class="container main">
        <!-- RESULTS -->
        <% if (mode === 'result') { %>
         
          <span class="full-width">
            <div class="title"><h3>RESULT</h3></div>
            <div class="result-text"><%= user.history[user.history.length-1].waterPrint %> <span>L</span></div>
          </span>
          
          <!-- STATS BIG -->
          <div class="title"><h3>STATS</h3></div>
          
          <div class="stats-block rotate-card">
            <div class="front container">
              GLASSES
              <img src="img/stats/glass.svg" alt="">
              <span class="container">
                <span class="stat-number"><%= Math.floor(user.history[user.history.length-1].waterPrint / 0.2) %></span>
                <p class="times">times</p>
              </span>
            </div>
            <div class="back container">
              GLASSES
              <p>0.2L</p>
            </div>
          </div>
          
          <div class="stats-block rotate-card">
            <div class="front container">
              BOTTLES
              <img src="img/stats/bottle.svg" alt="">
              <span class="container">
                <span class="stat-number"><%= Math.floor(user.history[user.history.length-1].waterPrint / 0.5) %></span>
                <p class="times">times</p>
              </span>
            </div>
            <div class="back container">
              BOTTLES
              <p>0.5L</p>
            </div>
          </div>
          
          <div class="stats-block rotate-card">
            <div class="front container">
              TOILET
              <img src="img/stats/toilet.svg" alt="">
              <span class="container">
                <span class="stat-number"><%= Math.floor(user.history[user.history.length-1].waterPrint / 7) %></span>
                <p class="times">times</p>
              </span>
            </div>
            <div class="back container">
              TOILET
              <p>23L per KG</p>
            </div>
          </div>

          <div class="stats-block rotate-card">
            <div class="front container">
              WASHING MACHINE
              <img src="img/stats/washing-machine.svg" alt="">
              <span class="container">
                <span class="stat-number"><%= Math.floor(user.history[user.history.length-1].waterPrint / 23) %></span>
                <p class="times">times</p>
              </span>
            </div>
            <div class="back container">
              WASHING MACHINE
              <p>0.2L</p>
            </div>
          </div>
          
          <div class="stats-block rotate-card">
            <div class="front container">
              DISHWASHER
              <img src="img/stats/dishwasher.svg" alt="">
              <span class="container">
                <span class="stat-number"><%= Math.floor(user.history[user.history.length-1].waterPrint / 40) %></span>
                <p class="times">times</p>
              </span>
            </div>
            <div class="back container">
              DISHWASHER
              <p>0.5L</p>
            </div>
          </div>
          
          <div class="stats-block rotate-card">
            <div class="front container">
              BATH
              <img src="img/stats/bath.svg" alt="">
              <span class="container">
                <span class="stat-number"><%= Math.floor(user.history[user.history.length-1].waterPrint / 80) %></span>
                <p class="times">times</p>
              </span>
            </div>
            <div class="back container">
              BATH
              <p>23L per KG</p>
            </div>
          </div>

          <div class="stats-block rotate-card">
            <div class="front container">
              SHOWER
              <img src="img/stats/shower.svg" alt="">
              <span class="container">
                <span class="stat-number"><%= Math.floor(user.history[user.history.length-1].waterPrint / 110) %></span>
                <p class="times">times</p>
              </span>
            </div>
            <div class="back container">
              SHOWER
              <p>23L per KG</p>
            </div>
          </div>

          <div class="stats-block rotate-card">
            <div class="front container">
              T-SHIRT
              <img src="img/stats/t-shirt.svg" alt="">
              <span class="container">
                <span class="stat-number"><%= Math.floor(user.history[user.history.length-1].waterPrint / 2700) %></span>
                <p class="times">times</p>
              </span>
            </div>
            <div class="back container">
              T-SHIRT
              <p>23L per KG</p>
            </div>
          </div>

          <div class="stats-block rotate-card">
            <div class="front container">
              ATLANTIC
              <img src="img/stats/atlantic.svg" alt="">
              <span class="container">
                <span class="stat-number"><%= Math.floor(user.history[user.history.length-1].waterPrint / 323600000000) %></span>
                <p class="times">%</p>
              </span>
            </div>
            <div class="back container">
              ATLANTIC
              <p>23L per KG</p>
            </div>
          </div>

          <div class="stats-block rotate-card">
            <div class="front container">
              PACIFIC
              <img src="img/stats/pacific.svg" alt="">
              <span class="container">
                <span class="stat-number"><%= Math.floor(user.history[user.history.length-1].waterPrint / 764330000000) %></span>
                <p class="times">%</p>
              </span>
            </div>
            <div class="back container">
              PACIFIC
              <p>23L per KG</p>
            </div>
          </div>

          <a class="container profile" href="/profile"><span>VIEW FULL PROFILE</span></a>
        <% } %>
          
          
          
        <% if (mode === 'profile') { %>
          <a class="container share" onclick="handleShareClick()"><span>SHARE</span></a>

          <!-- INFO -->
          <span class="full-width">
            <div class="title"><h3>INFO</h3></div>
            <div class="full-width info-box">
              <h4 class="info"><span class="label">Username</span><%= user.username %> </h4>
              <% if (user.email) { %>
                <h4 class="info"><span class="label">Email</span><%= user.email %> </h4>
              <% } %>
            </div>
          </span>
        <% } %>

        <% if (mode === 'profile' || mode === 'id') { %>
         <!-- STATS -->
         <div class="title"><h3>STATS</h3></div>
         <div class="full-width stats-grid">
           GLASSES
           <img src="img/stats/glass.svg" alt="">
           <span class="container">
             <span class="stat-number"><%= Math.floor(user.waterPrint / 0.2) %></span>
             <p class="times">times</span>
           </span>
         </div>
         <div class="full-width stats-grid">
           BOTTLES
           <img src="img/stats/bottle.svg" alt="">
           <span class="container">
             <span class="stat-number"><%= Math.floor(user.waterPrint / 0.5) %></span>
             <p class="times">times</p>
           </span>
         </div>
         <div class="full-width stats-grid">
           TOILET
           <img src="img/stats/toilet.svg" alt="">
           <span class="container">
             <span class="stat-number"><%= Math.floor(user.waterPrint / 7) %></span>
             <p class="times">times</p>
           </span>
         </div>
         <div class="full-width stats-grid">
           WASHING MACHINE
           <img src="img/stats/washing-machine.svg" alt="">
           <span class="container">
             <span class="stat-number"><%= Math.floor(user.waterPrint / 23) %></span>
             <p class="times">times</span>
           </span>
         </div>
         <div class="full-width stats-grid">
           DISHWASHER
           <img src="img/stats/dishwasher.svg" alt="">
           <span class="container">
             <span class="stat-number"><%= Math.floor(user.waterPrint / 40) %></span>
             <p class="times">times</p>
           </span>
         </div>
         <div class="full-width stats-grid">
           BATH
           <img src="img/stats/bath.svg" alt="">
           <span class="container">
             <span class="stat-number"><%= Math.floor(user.waterPrint / 80) %></span>
             <p class="times">times</p>
           </span>
         </div>
         <div class="full-width stats-grid">
           SHOWER
           <img src="img/stats/shower.svg" alt="">
           <span class="container">
             <span class="stat-number"><%= Math.floor(user.waterPrint / 110) %></span>
             <p class="times">times</p>
           </span>
         </div>
         <div class="full-width stats-grid">
           T-SHIRT
           <img src="img/stats/t-shirt.svg" alt="">
           <span class="container">
             <span class="stat-number"><%= Math.floor(user.waterPrint / 2700) %></span>
             <p class="times">times</p>
           </span>
         </div>
         <div class="full-width stats-grid">
           ATLANTIC
           <img src="img/stats/atlantic.svg" alt="">
           <span class="container">
             <span class="stat-number"><%= Math.floor(user.waterPrint / 323600000000) %></span>
             <p class="times">%</p>
           </span>
         </div>
         <div class="full-width stats-grid">
           PACIFIC
           <img src="img/stats/pacific.svg" alt="">
           <span class="container">
             <span class="stat-number"><%= Math.floor(user.waterPrint / 764330000000) %></span>
             <p class="times">%</p>
           </span>
         </div>
        <% } %>
      </div>
    </div>

    <div class="shadow container" style="display: none;">
      <div class="share-card">
        <h1>Share your link with your friends</h1>
        <div class="close container" onclick="handleCloseShareClick()">
          <img src="img/close.svg" alt="">
        </div>
        <img src="https://api.qrserver.com/v1/create-qr-code/?data=<%= url %>/profile/<%= user._id %>&size=170x170&bgcolor=fff&color=242424" alt="">
        <h3>Page Link</h3>
        <div class="link-box" onclick="handleCopy()">
          <div>
            <h3 id="text-to-copy"><%= url %>/profile/<%= user._id %></h3>
          </div>
          <img src="/img/copy-link.svg" alt="">
        </div>
      </div>
    </div>

    <script src="js/nav.js"></script>
    <script src="js/profile.js"></script>
  </body>
</html>
