<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="css/profile.css" />
    <link rel="stylesheet" href="css/default.css" />
    <title>PROFILE</title>
  </head>
  <body>
    <div class="btn-bar">
      <a href="""><img class="icon-bar" id="back-arrow" src="img/back-arrow.svg" alt=""></a>
    </div>
    <div class="background"> 
      <div class="card rotate-card">
        <div class="front">
          <h3 class="username"><%= user.username.toUpperCase() %> </h3>
        <div class="date">Since <span><%= `${user.createdAt.getMonth() + 1}-${user.createdAt.getDate()}-${user.createdAt.getFullYear()}` %> </span></div>
        <h3 class="waterPrint"><%= user.waterPrint %> L</h3>
        <span class="logo">
          <img src="img/plastic-bottle-white.png" alt="logo" />
          <h4>WaterMatters</h4>
        </span>
        </div>
        <div class="back">
          
        <span class="logo">
          <img src="img/plastic-bottle-white.png" alt="logo" />
          <h4>WaterMatters</h4>
        </span>
        </div>
      </div>

      
      <div class="container main">
        <a class="container"><span>SHARE</span></a>

        <!-- INFO -->
        <span class="full-width">
          <div class="title"><h3>INFO</h3></div>
          <div class="full-width info-box">
            <h4 class="info"><span class="label">Username</span><%= user.username %> </h4>
            <% if (user.email) { %>
              <h4 class="info"><span class="label">Email</span><%= user.email %> </h4>
            <% } %>
          </div>
        </span>

        <!-- RESULTS -->
        <span class="full-width">
          <div class="title"><h3>RESULTS</h3></div>
          <div class="result-text"><%= user.waterPrint %> <span>L</span></div>
        </span>

        <!-- STATS -->
        <div class="title"><h3>STATS</h3></div>
        <div class="full-width stats-grid">
          GLASSES
          <img src="img/water-glass.svg" alt="">
          <span class="container">
            <span><%= user.waterPrint / 0.2 %></span>
            <p class="times">times</span>
          </span>
        </div>
        <div class="full-width stats-grid">
          BOTTLES
          <img src="img/milk-water-bottle.svg" alt="">
          <span class="container">
            <span><%= user.waterPrint / 0.5 %></span>
            <p class="times">times</p>
          </span>
        </div>
        <div class="full-width stats-grid">
          WASHING MACHINE
          <img src="img/washing-machine.svg" alt="">
          <span class="container">
            <span><%= user.waterPrint / 23 %></span>
            <p class="times">times</p>
          </span>
        </div>

        <!-- STATS BIG -->
        <div class="title"><h3>STATS</h3></div>

        <div class="stats-block rotate-card">
          <div class="front container">
            GLASSES
            <img src="img/water-glass.svg" alt="">
            <span class="container">
              <span><%= user.waterPrint / 0.2 %></span>
              <p class="times">times</p>
            </span>
          </div>
          <div class="back container">
            GLASSES
            <p>0.2L</p>
          </div>
        </div>

        <div class="stats-block rotate-card">
          <div class="front container">
            BOTTLES
            <img src="img/milk-water-bottle.svg" alt="">
            <span class="container">
              <span><%= user.waterPrint / 0.5 %></span>
              <p class="times">times</p>
            </span>
          </div>
          <div class="back container">
            BOTTLES
            <p>0.5L</p>
          </div>
        </div>

        <div class="stats-block rotate-card">
          <div class="front container">
            WASHING MACHINE
            <img src="img/washing-machine.svg" alt="">
            <span class="container">
              <span><%= user.waterPrint / 23 %></span>
              <p class="times">times</p>
            </span>
          </div>
          <div class="back container">
            WASHING MACHINE
            <p>23L per KG</p>
          </div>
        </div>
        

      </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
    <script src="js/requests/user.js"></script>
  </body>
</html>
